{% extends "headerAuth.html.twig" %}

{% block title %}
  Каталог
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
  <link rel="stylesheet" href="/css/products/catalog.css" />
{% endblock %}

{% block main %}
  <main class="catalog">
    <p class="catalog_title">Пицца</p>
    {% for pizza in pizzas  %}
    <article class="catalog_product product">
        <main class="product_content">
            <img src="/uploads/{{ pizza.imageUrl }}" alt="{{ pizza.title }}" class="product_image" />
            <p class="product_title">{{ pizza.title }}</p>
            <p class="product_description">
                {{ pizza.subtitle }}
            </p>
        </main>
        <footer class="product_submenu">
            <span class="product_price">{{ pizza.price }} ₽</span>
            <a href="{{ path("order", {productId: pizza.id}) }}" >
                <button class="product_select">Заказать</button>
            </a>
            {% if isAdmin %}
                <form class="product__delete" action="{{ path('delete_product', {productId: pizza.id}) }}" method="post">
                    <button type="submit" class="product_select">Удалить</button>
                </form>
            {% endif %}
        </footer>
    </article>
    {% endfor %}
    {% if isAdmin %}
        <article class="catalog_product product">
            <main class="product_content">
                <div class="product__mock-image"></div>
                <p class="product_title">Новая пицца</p>
                <p class="product_description">
                    Создайте свою новую пиццу
                </p>
            </main>
            <footer class="product_submenu">
                <span class="product_price">0 ₽</span>
                <a href="{{ path('create_product') }}" >
                    <button class="product_select">Создать</button>
                </a>
            </footer>
        </article>
    {% endif %}
  </main>
{% endblock %}